@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$text_color: #cad2c5;

@mixin custom-scroll-bar() {
    &::-webkit-scrollbar {
      border-radius: 10px;
      height: 10px;
      width: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    @include custom-scroll-bar()

}


body {
    background: #2F3E46;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: red;
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        height: 200px;
        img {
            object-fit: cover;
            width: 130px;
            height: 130px;
        }
    }
}

.convertTool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    // background: blue;
    .inputDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem;
        width: 100vw;
        // height: 20vh;
    
        .swapButton {
            display: flex;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        
        
        .optionsContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 300px;
            height: 50px;
            border-radius: 5px;
            background: #CAD2C5;
            
        }
        
        select {
            width: 250px;
            height: 50px;
            border: none;
            border-radius: 5px;
            outline: none;
            font-size: 1.2rem;
            cursor: pointer;
            background: #CAD2C5;
    
        }
    
        #inputValue {
            width: 250px;
            height: 50px;
            outline: none;
            border: none;
            border-radius: 5px;
            outline: none;
            background: #CAD2C5;
            font-size: 1.7rem;
            font-weight: bold;
            // padding: .5rem;
            &::placeholder {
                font-size: large;
                // text-align: center;
                padding: .5rem;
            }
        }
        #displayCurencySymbol {
            font-size: 1.7rem;
            font-weight: bold;
        }
    
        button {
            width: 100px;
            height: 35px;
            cursor: pointer;
        }
    }
    
    .displayContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        min-width: 300px;
        height: 50px;
        font-size: 2rem;
        text-align: center;
        color: $text_color;
        border: none;
        border-bottom: 1px solid #cfcfcf;
        
    }
    
    .error {
        color: red;
        font-size: 1.2rem;
    }

    .warning {
        font-size: 1.5rem;
    }
}

.statistics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .canvas {
        display: flex;
        width: 500px;
        height: 250px;
        // background-color: red;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        color: $text_color;
        
        .text {
            text-align: center;
        }
    }

    .bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        
        .loader {
            visibility: hidden;
            border: 7px solid #f3f3f3;
            border-radius: 50%;
            border-top: 7px solid #4b20c2;
            width: 40px;
            height: 40px;
            animation: spin .5s linear infinite;
        }

        .left-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right-content {
            width: 100%;
            table {
                width: 80%;
                border: 1px solid #b3adad;
                border-collapse: collapse;
                padding: 5px;
            }

            table th {
                width: 50%;
                border: 1px solid #b3adad;
                padding: 5px;
                background: #f0f0f0;
                color: #313030;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            table th {
                border:1px solid #b3adad;
                text-align:center;
                align-items: center;
                padding:5px;
                background: #2F3E46;
                color: $text_color;
            }
            table td {
                border:1px solid $text_color;
                text-align:center;
                padding:5px;
                background: #2F3E46;
                color: $text_color;
            }
        }
    }

    

}

.footer {
    footer {
        .footerContent {
            display: flex;
            gap: 1rem;
            // align-items: center;
            justify-content: center;
            a {
                color: $text_color;
            }

            p {
                color: $text_color;
            }
        }
    }
}

@media (max-width: 1020px) {
    .bottom-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .right-content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 700px) {
    .displaySection {
        text-align: center;
    }

    .statistics {
        .content {
            .text {
                text-align: justify;
            }
        }
    }

    .logo {
        align-items: center;
    }
}
@media (max-width: 665px) {
    .inputDiv {
        flex-direction: column;
    }
}

@media (max-width: 530px) {
    .statistics {
        .canvas {
            width: 400px;
        }
    }
}

@media (max-width: 420px) {
    .statistics {
        .canvas {
            width: 300px;
        }
    }
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}

}
