<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conversor de moedas, com as principais moedas do mundo.">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/currency-exchange-110-1177167.png">
    <title>Conversor de moedas | converta real para as moedas mais utilizadas no mundo</title>
</head>
<body>
    <section class="header">
        <div class="logo">
            <img src="https://cdn.iconscout.com/icon/free/png-256/currency-exchange-110-1177167.png" alt="logo">
        </div>
    </section>
    <section class="convertTool">
        <div class="inputDiv">
            <div class="optionsContainer">
                <label for="currencyCodeOne"></label>
                <img id="currencyCountryImgOne" src="" alt="icone-da-moda-de-origem"/>
                <select id="currencyCodeOne" name="currencyCodeOne" required >
                    <option value="BRL">Real</option>
                    <option value="USD">Dolar Americano</option>
                    <option value="EUR">Euro</option>
                    <option value="CAD">Dolar Canadense</option>
                    <option value="JPY">Iene Japonês</option>
                    <option value="CNY">Yuan Chines (Renminbi)</option>
                </select>
            </div>
            <div class="swapButton" id="swapButton">
                <img src="https://img.icons8.com/fluency/48/undefined/change.png" alt="icone-de-troca-de-conversao"/>
            </div>
            <div class="optionsContainer">
                <label for="currencyCodeTwo"></label>
                <img id="currencyCountryImgTwo" src="" alt="icone-da-moda-de-destino" />
                <select id="currencyCodeTwo" name="currencyCodeTwo" required>
                    <option value="USD">Dolar Americano</option>
                    <option value="BRL">Real</option>
                    <option value="EUR">Euro</option>
                    <option value="CAD">Dolar Canadense</option>
                    <option value="JPY">Iene Japonês</option>
                    <option value="CNY">Yuan Chines (Renminbi)</option>
                </select>
            </div>
            <div class="optionsContainer">
                <span id="displayCurencySymbol">R$</span>
                <input type="text" id="inputValue" name="inputValue" placeholder="Digite um valor" required >
            </div>
        </div>
        <div class="displayContainer">
            <span role="textbox" aria-label="Resultado da conversão"  id="display">0.00</span>
        </div>
    </section>

    <section class="statistics">
        <div class="content">
            <div class="title">
                <h3>Valor do dólar nos últimos 30 dias</h3>
            </div>
            <div class="text">
                <p>O valor do dólar é determinado pela oferta e demanda no mercado cambial, que é influenciado por vários fatores, como a situação econômica do país, as políticas monetárias e fiscais do governo, as taxas de juros, os fluxos de comércio e investimento, entre outros. Quando há uma alta demanda por dólares, seu valor aumenta em relação a outras moedas, e quando há uma oferta excessiva, seu valor pode diminuir. Além disso, o dólar é considerado uma moeda de reserva global, o que significa que muitos países mantêm grandes quantidades de dólares em suas reservas internacionais. Isso também pode influenciar o valor do dólar no mercado global de câmbio.</p>
            </div>
        </div>
        <div class="bottom-content">
            <div class="left-content">
                <div class="canvas">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="loader"></div>
            <div class="right-content">
                <table>
                    <thead id="thead">
                    </thead>
                    <tbody id='tb'>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="footer">
        <footer>
            <div class="footerContent">
                <p>Desenvolvido por: <a href="https://linkedin.com/in/lucas-gomes-oliveira" target="_blank">Lucas Oliveira</a></p>
               <p>icons: <a href="https://iconscout.com/" target="_blank">iconscout</a> <a href="https://icons8.com.br" target="_blank">icons8</a></p>
            </div>
        </footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body> 

</html>